body {
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    margin: 0;
}
.classList {
    border-radius: 20px;
    background: rgb(116, 141, 200);
    height: 100vw;

    top: -104%;
    list-style: none;
    display: flex;
    position: absolute;
    right: 47%;
    transform: rotate(-90deg);
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    gap: 20px;
    overflow-y: scroll;
}

nav {
    display: flex;
}
.classicon {
    transform: rotate(90deg);
}
.classpfp {
    width: 50px;
}

.classpfp img {
    border-radius: 30px;
    box-shadow: 10px 0 40px rgba(0, 0, 0, 0.635);
}
