* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}
