body {
    min-height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png);
    background-repeat: no-repeat;
    background-size: cover;

    /* animation-name: fondo; */
    /* animation: 30s ease 1s infinite fondo; */
    /* transition: ease; */
    /* animation-iteration-count: infinite; */
}

/* @keyframes fondo {
    0% {
        background-image: radial-gradient(
            circle at 111.24% 14.64%,
            #00579d 0,
            #0055a5 6.25%,
            #0053ab 12.5%,
            #0051af 18.75%,
            #004eb1 25%,
            #004ab1 31.25%,
            #0045af 37.5%,
            #003fab 43.75%,
            #1738a5 50%,
            #442f9d 56.25%,
            #5c2594 62.5%,
            #6e1689 68.75%,
            #7c007e 75%,
            #870071 81.25%,
            #900064 87.5%,
            #960056 93.75%,
            #990049 100%
        );
    }
    20% {
        background-image: radial-gradient(
            circle at 11.1% 72.46%,
            #009993 0,
            #0099a2 3.85%,
            #0099b0 7.69%,
            #0098be 11.54%,
            #0097ca 15.38%,
            #0096d5 19.23%,
            #0094df 23.08%,
            #0092e6 26.92%,
            #008fec 30.77%,
            #008cf0 34.62%,
            #0088f2 38.46%,
            #0083f2 42.31%,
            #197eef 46.15%,
            #5578eb 50%,
            #7572e5 53.85%,
            #8e6bdc 57.69%,
            #a263d3 61.54%,
            #b35cc7 65.38%,
            #c154bb 69.23%,
            #cd4dae 73.08%,
            #d6479f 76.92%,
            #dd4391 80.77%,
            #e14082 84.62%,
            #e44074 88.46%,
            #e44265 92.31%,
            #e24657 96.15%,
            #df4c49 100%
        );
    }
    40% {
        background-image: radial-gradient(
            circle at 120.71% 50%,
            #0044d9 0,
            #003dd5 12.5%,
            #0035cf 25%,
            #002bc8 37.5%,
            #231cbf 50%,
            #4f00b5 62.5%,
            #6900aa 75%,
            #7c009e 87.5%,
            #8b0091 100%
        );
    }
} */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

/* main {
    
    position: relative;
    top: 90px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
} */
.menu-navegacion {
    /* menu de navegacion */
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    color: #fff;
    position: relative;
    right: 12px;
    top: 40px;
}
.menu {
    /* menu de navegacion */
    width: 50px;
    list-style: none;
    padding: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 30px;
}
.lista-menu {
    /* lista de menu */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-radius: 50px;

    background-color: rgba(255, 255, 255, 0.15);
}
.lista-menu:hover {
    /* lista de menu */
    background-color: rgba(255, 255, 255, 0.505);
    cursor: pointer;
}
.div-icon {
    /* icono de menu */
    width: 30px;
} /*agregar el nombre alas etiquetas */

/* contenedor global */

.contenedor-gloval {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 90px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}
