.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.botton-aburgesa {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.15);
}

.menu-navegacion {
    /* menu de navegacion */
    display: flex;
   
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    color: #fff;
}
.menu {
    /* menu de navegacion */
    width: 33px;
    list-style: none;
    padding: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 30px;
}

.lista-menu {
    /* lista de menu */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-radius: 50px;
}

.lista-menu:hover {
    /* lista de menu */
    background-color: rgba(255, 255, 255, 0.505);
    cursor: pointer;
}
.div-icon {
    /* icono de menu */
    width: 30px;
} /*agregar el nombre alas etiquetas */

/* contenedor global */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 70%;
    height: 50%;
    top: 5vh;
    left: 15vw;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}
