body {
    min-height: 100vh;
    background: #2f2a2a;

    background-repeat: no-repeat;
    background-size: cover;
}

.burbuja {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #259fcb;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    left: 5%;
    animation: burbujas 3s linear infinite;
}
.burbuja:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 5%;
    animation-delay: 1s;
}
.burbuja:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 20%;
    animation-delay: 2s;
}
.burbuja:nth-child(3) {
    width: 30px;
    height: 30px;
    left: 40%;
    animation-delay: 3s;
}
@keyframes burbujas {
    0% {
        bottom: 0;
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        bottom: 100%;
        opacity: 0;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.menu-navegacion {
    /* menu de navegacion */
    display: flex;
    width: 109.1px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    color: #fff;
    position: relative;
    right: 12px;
    top: 40px;
}
.menu {
    /* menu de navegacion */
    width: 50px;
    list-style: none;
    padding: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 30px;
}

.lista-menu {
    /* lista de menu */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-radius: 50px;
}

.lista-menu:hover {
    /* lista de menu */
    background-color: rgba(255, 255, 255, 0.505);
    cursor: pointer;
}
.div-icon {
    /* icono de menu */
    width: 40px;
} /*agregar el nombre alas etiquetas */

/* contenedor global */

.contenedor-gloval {
    margin-top: 90px;
    position: absolute;
    top: 90px;
    left: 20vh;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}
