.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    width: 100%;
}
.botton-aburgesa {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.15);
}

.menu-navegacion {
    /* menu de navegacion */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #252424;
    padding: 10px;
    color: #fff;
}
.menu {
    /* menu de navegacion */
    
    list-style: none;
    padding: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 30px;
}

.lista-menu {
    /* lista de menu */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-radius: 50px;
}
a{
    text-decoration: none;
    color: #000000;
    
}
.div-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
   
    
}
span{
    font-size: 20px;

   
}

a:nth-child(2){
    color: #fff;
}
