* {
    margin: 0;
    padding: 0;
}

/* eston son los estilos de la nav de navegacion */
nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px;
    background-color: #2b2a2a;
    color: #fff;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav li {
    list-style: none;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: #fff;
}

/* estoes el estilo de el jamon */
main div div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #c5c1c1;
    background-image: url(https://cdn.pixabay.com/photo/2023/03/11/11/19/bird-7844233_1280.jpg);
    background-size: cover;
    background-position: center;
    padding: 90px;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
}
article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    align-items: center;
}
article div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0e0d0d;
    background-image: url(https://cdn.pixabay.com/photo/2023/03/11/11/19/bird-7844233_1280.jpg);
    background-size: cover;
    background-position: center;

    padding: 10px;
    height: 50%;
    width: 100%;
}
article div p {
    font-size: 20px;
    width: 50%;
}
article div h1 {
    font-size: 50px;
}
article:nth-child(1) {
    background-color: #2b2a2a;
}
