* {
    margin: 0;
    padding: 0;
}

/* eston son los estilos de la nav de navegacion */
nav {
    padding: 20px;
    background-color: #2b2a2a;
    color: #fff;
}
ul {
    gap: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
nav li {
    list-style: none;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: #fff;
}

/* estoes el estilo de el jamon */
main {
    background: #121a31;
}
main > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://images.pexels.com/photos/5331204/pexels-photo-5331204.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px;
    height: 50%;
}

main > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 252, 252, 0.171);
    backdrop-filter: blur(50px);
    background-size: cover;
    background-position: center;
    padding: 90px;
    border-radius: 20px;
}
main > div > div > h1 {
    font-size: 50px;
    color: #658aad;
}
main > div > div > div > a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #658aad;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

main > div > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    align-items: center;
}
article div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0e0d0d;
    background-size: cover;
    background-position: center;
    padding: 90px;
    height: 50%;
}
article div p {
    text-align: center;
    font-size: 20px;
    width: 50%;
}
article div h1 {
    font-size: 50px;
}
article:nth-child(1) {
    background-color: #2b2a2a;
}
