/*
primary: #FF0A6C;
secondary: #2D27FF;
*/

body {
    background: url(https://cdn.pixabay.com/photo/2016/11/29/04/19/ocean-1867285_960_720.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    min-width: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(50px);
}

input {
    padding: 10px;
    margin: 0 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eeeeee25;
    outline: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 30px;
}

input {
    padding: 10px;
    margin: 0 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eeeeee25;
    outline: none;
}

input::placeholder {
    color: #fffcfc4a;
}

input[type='submit'] {
    border: none;
    background: #f6f2f278;
    /*filter: blur(5px); "boton desactivado "*/
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

input[type='submit']:active {
    background: #eeeeee25;
}

p {
    text-align: center;
}

a {
    color: #fff;
}

@media screen and (max-width: 400px) {
    form {
        min-width: 100%;
    }
}
